@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: inherit;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.toast {
  display: flex;
  align-items: center;
  padding: 16px;
  border-radius: 4px;
  font-family: Arial, sans-serif;
  margin-bottom: 8px;
  position: relative;
}

.toast-success {
  background-color: #28a745; /* Green background */
  color: white;
}

.toast-error {
  background-color: #dc3545; /* Red background */
  color: white;
}

.toast-loading {
  background-color: #ffc107; /* Yellow background */
  color: black;
}

.toast-custom {
  background-color: #17a2b8; /* Blue background */
  color: white;
}

.toast-icon {
  margin-right: 8px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
